.c-menu {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 1000;
  pointer-events: none;
  &__list {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
  }
  &__btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 3vw; left: 3vw;
    z-index: 2;
    pointer-events: auto;
    &-line {
      width: 30px;
      height: 1px;
      position: absolute;
      top: 50%; right: 0; left: 0;
      background-color: #000;
      &--top {
        transform: translate3d(0, -5px, 0);
      }
      &--bottom {
        transform: translate3d(0, 5px, 0);
      }
    }
  }
  //
  //  Interaction Init
  //
  &__list {
    height: 0;
  }
  &__btn {
    perspective: none;
    &-line {
      transition-duration: 0.3s;
    }
  }
  //
  //  Interaction Init
  //
  &__btn {
    &.menu-opened & {
      &-line {
        background-color: #fff;
        &--top {
          transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 45deg) scale(0.8);
        }
        &--middle {
          transform: scale(0);
        }
        &--bottom {
          transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, -45deg) scale(0.8);
        }
      }
    }

  }
}
