-
  var sketch = sketches.index;

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body
    .c-page
      .p-introduction
        .p-introduction__wrap
          h1.p-introduction__head
            |Sketch of Canvas2D
          p.p-introduction__description
            |#{sketch.description}
          p.p-introduction__view-source
            a(href="https://github.com/ykob/sketch-canvas2d").c-text-link
              |view source
      .c-stage
        canvas.c-stage__canvas#stage
    include ./modules/_menu.pug
    include ./modules/_script.pug
