-
  var sketch = sketches.xxx;

doctype html
html(lang="ja")
  head
    include ./modules/_head.pug
  body
    .c-page
      include ./modules/_sketch-summary.pug
      .c-stage
        canvas.c-stage__canvas
    include ./modules/_menu.pug
    include ./modules/_script.pug
