.p-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: center;
  &__head {
    line-height: 1.1;
    margin: 0 0 1rem;
    font-weight: 400;
    letter-spacing: 3px;
    @include l-pc-l {
      font-size: $break-point-pc / 100 * 4;
    }
    @include l-pc-and-tablet {
      font-size: 4vw;
    }
    @include l-mobile {
      font-size: $break-point-mobile / 100 * 4;
    }
  }
  &__description {
    margin: 0 0 1rem;
    letter-spacing: 2px;
    @include l-pc-l {
      font-size: $break-point-pc / 100 * 1.4;
    }
    @include l-pc-and-tablet {
      font-size: 1.4vw;
    }
    @include l-mobile {
      font-size: $break-point-mobile / 100 * 1.4;
    }
  }
  &__view-source {
    margin: 0;
    letter-spacing: 2px;
    @include l-pc-l {
      font-size: $break-point-pc / 100 * 1.4;
    }
    @include l-pc-and-tablet {
      font-size: 1.4vw;
    }
    @include l-mobile {
      font-size: $break-point-mobile / 100 * 1.4;
    }
  }
}
