.p-introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  &__head {
    margin: 0;
  }
  &__description {
    margin: 0;
  }
  &__view-source {
    margin: 0;
  }
}
