.c-menu
  .c-menu__list
    ul.c-menu__list-wrap
      each item, key in sketches
        if (key != "index")
          li.c-menu__list-item
            a(href = '.' + item.path)
              |#{item.title}
  .c-menu__btn
    .c-menu__btn-line.c-menu__btn-line--top
    .c-menu__btn-line.c-menu__btn-line--middle
    .c-menu__btn-line.c-menu__btn-line--bottom
