.c-sketch-summary
  h1.c-sketch-summary__head
    |#{sketch.title}
  p.c-sketch-summary__description
    |#{sketch.description}
  .c-sketch-summary__about-website
    h2.c-sketch-summary__sub-head
      |sketch of canvas2D
    p.c-sketch-summary__view-source
      a(href="https://github.com/ykob/sketch-canvas2d")
        |view source
